.search-form {
  margin-bottom: 0;

  label {
    position: relative;
  }

  .search-field {
    max-width: 0px;
    overflow: hidden;
    opacity: 0;
    transition: 0.3s linear all;
    font-size: 13px;
    margin-bottom: 0;
    padding: 0;

    &:focus {
      max-width: 100%;
      opacity: 1;
      padding: 0.2em 2em 0.2em 0.5em;
    }
  }

  .icon-search {
    cursor: pointer;
  }
}
