.single-project {

    &__wrapper {
        margin-left: 5%;
        width: 95%;

        @include mq($bp-4) {
            // width: auto;
            // max-width: none;
            display: flex;
        }
    }

    &__content {
        max-width: $bp-2;
        margin-right: 5%;
        margin-bottom: $spacing;

        @include mq($bp-4) {
            max-width: 400px;
            flex-grow: 0;
        }
    }

    &__title {

        @include mq($bp-4) {
            margin-top: 0;
        }
    }

    /*********************************************************
    ## Gallery slider
    *********************************************************/
    &__slides-wrapper {
        width: 95%;
        display: block;

        @include mq($bp-4) {
            width: calc(90% - 400px);
        }
    }
    
    &__slides {

        &-item {
            padding-left: 20px;
            padding-right: 20px;
            
            > * {
                margin-left: auto;
                margin-right: auto;
            }

            &--video {
                height: 0;
                padding-bottom: 60%;
            }
        }

    }

    // .slick-slide {
    //     opacity: .5;

    //     &.slick-current {
    //         opacity: 1;
    //     }
    // }

    //     &:hover,
    //     &:focus {
    //         cursor: ew-resize;
    //     }
    
    //     &-item {
    //         flex-shrink: 0;
    //         margin-right: $spacing/2;
    
    //         &--video {
    //             display: flex;
    //             align-items: center;
    //             background-color: rgba($middle, .3);
    //             padding: $spacing/2;

    //             iframe {
    //                 height: 45vw;
    //                 width: 90vw;
    //             }
                
    //             @include mq($bp-4) {

    //                 iframe {
    //                     height: 30vw;
    //                     width: 50vw;
    //                 }
    //             }
    //         }
    //     }
            
    //     img {
    //         height: 100%;
    //         width: auto;
    //     }
}