.single-project {

    &__wrapper {
        margin-left: 5%;
        width: 95%;

        @include mq($bp-4) {
            width: auto;
            max-width: none;
            display: flex;
        }
    }

    &__content {
        max-width: $bp-2;
        margin-right: 5%;
        margin-bottom: $spacing;

        @include mq($bp-4) {
            max-width: 400px;
            flex-grow: 0;
        }
    }

    &__title {

        @include mq($bp-4) {
            margin-top: 0;
        }
    }

    /*********************************************************
    ## Slides
    *********************************************************/
    &__slides {
        height: 50vw;
        max-height: 720px;
        display: flex;
        overflow-x: auto;

        @include mq($bp-4) {
            height: 75vh;
        }
    
        &:hover,
        &:focus {
            cursor: ew-resize;
        }
    
        &-item {
            flex-shrink: 0;
            margin-right: $spacing/2;
    
            &--video {
                display: flex;
                align-items: center;
                background-color: rgba($middle, .3);
                padding: $spacing/2;

                iframe {
                    height: 45vw;
                    width: 90vw;
                }
                
                @include mq($bp-4) {

                    iframe {
                        height: 30vw;
                        width: 50vw;
                    }
                }
            }
        }
            
        img {
            height: 100%;
            width: auto;
        }
    
        /*********************************************************
        ## Slides scrollbar
        *********************************************************/
        /* Works on Firefox */
        scrollbar-width: thin;
        scrollbar-color: $middle $accent;
        
        /* Works on Chrome, Edge, and Safari */
        &::-webkit-scrollbar {
            width: 12px;
        }
        
        &::-webkit-scrollbar-track {
            background: $middle;
        }
        
        &::-webkit-scrollbar-thumb {
            background-color: rgba($accent, .4);
            border-radius: 0;
            border: 4px solid $middle;
        }
        &:hover,
        &:focus {
    
            &::-webkit-scrollbar-thumb {
                background-color: rgba($accent, .6);
            }
        }
    }
}