.footer__inner {
  @include center-block;
  width: 90%;
  display: flex;
  font-family: $headings-face;

  > * {
      flex: 1;
  }

  .column--center {
      text-align: center;
  }
  .column--right {
      text-align: right;
  }
}

.footer-widgets {

  .widget_nav_menu {

    li {
      margin-bottom: 0;
    }
  }
}

.footer__social {
  display: flex;
  margin-bottom: 2em;
  justify-content: center;
  list-style: none;

  li {
    margin-right: 0.75em;
  }

  a {
      text-decoration: none;
  }

  .icon {
    display: block;
    width: 2em;
    height: 2em;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.credit {
    a {
        text-decoration: none;
    }
}
