.site-header {
  padding-top: 2em;
  padding-bottom: 2em;

  a {
      color: $accent;
    }
}

.header__inner {
  @include center-block;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.site-branding {
  max-width: 300px;
  padding-right: $spacing;

  img {
    margin-bottom: 0;
  }

  .site-title {
    margin: 0;
    font-size: em(22);
    text-align: center;
    font-family: $sans-face;

    a {
      text-decoration: none;
    }
  }
}

.main-nav {
  display: flex;
  align-items: center;
}

button.menu-button {
  text-align: right;
  margin-bottom: -8px;
  font-size: 0.8em;

  .hamburger-inner,
  .hamburger-inner::before,
  .hamburger-inner::after {
    background-color: $dark;
  }
}
