/*------------------------------------*\
    Sizes
\*------------------------------------*/
$bp-1: 500px;
$bp-2: 700px;
$bp-3: 900px;
$bp-4: 1100px;
$bp-5: 1300px;
$bp-6: 1500px;
$bp-7: 1700px;

$bp-menu: $bp-3;

// spacing
$spacing: 2em;

/*------------------------------------*\
    Font Variables
\*------------------------------------*/
$sans-face: 'Source Sans Pro', sans-serif;
$serif-face: 'Source Serif Pro', serif;
$bold-weight: 600;
$normal-weight: 400;

/*------------------------------------*\
    Colours - some da_boilerplate defaults
\*------------------------------------*/
$light: #F6F5F4;
$middle: #848171;
$dark: #37362F;
$accent: #4D4C42;

/*------------------------------------*\
    Gutenberg color options
\*------------------------------------*/
// -- see editor-color-palette in gutenberg-settings.php
$colors: (
  light: $light,
  dark: $dark,
  accent: $accent,
);

@each $name, $color in $colors {
  .has-#{$name}-color {
    color: $color;
  }

  .has-#{$name}-background-color {
    background-color: $color;
  }
}
