.block-link-card {
  position: relative;
  margin-left: auto;
  margin-right: auto;

  // restrict width until flex-wrap happens at 700px
  @include mq-max(43.75em) {
    max-width: 450px;
  }

  a {
    display: block;
    overflow: hidden;

    &:hover .link-card__image img {
      transform: scale(1.05);
      filter: none;
    }

    &:hover .link-card__overlay {
      opacity: 0;
    }
  }

  .link-card__image {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  img {
    display: block;
    object-fit: cover;
    object-position: center;
    margin: 0;
    transition: 0.3s ease-out;
    filter: blur(1px);
  }

  .link-card__overlay {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: rgba(0, 0, 0, 0.6);
    transition: 0.2s;

    h2 {
      text-align: center;
      margin: 0;
      color: $white;
      font-size: em(22);
      font-weight: 500;
      padding: 0.5em;
    }
  }
}
