.block-project-list {
    list-style: none;
    margin-left: 5%;
    width: 90%;
    max-width: $bp-3;

    li {
        font-size: em(28);
        font-family: $serif-face;
        margin-bottom: .5em;

        a {
            text-decoration: none;

            .icon {
                font-size: 1.25rem;
                margin-left: 1em;
            }
        }
    }
}