.block-project-slides {
    margin-left: 5%;
    width: 95%;
    height: 60vh;
    display: flex;
    overflow-x: auto;

    // &::-webkit-scrollbar {// hide scrollbar
    //     display: none;
    // }

    &__item {
        flex-shrink: 0;
        margin-right: $spacing/2;

        // &--video {

        // }
    }
        
    img {
        height: 100%;
        width: auto;
    }
}